/* Custom Fonts*/
@font-face {
  font-family: Verdana;
  src: url('./assets/font/Verdana-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Verdana;
  src: url('./assets/font/Verdana-BoldItalic.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Verdana;
  src: url('./assets/font/Verdana.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Verdana;
  src: url('./assets/font/Verdana-Italic.ttf');
  font-weight: 400;
}

/* Default CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
 }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

.App {
  text-align: center;
}

/************ Navbar Css ************/

nav.navbar {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

.scrolled .navbar-brand,
.scrolled .navbar-link,
.scrolled .social-icon a img {
  color: #fff;
}

.scrolled nav.navbar a.navbar-brand {
  width: 9%;
  color: #fff;
}

.scrolled .navbar-toggler-icon {
  background-color: #fff;
}

.scrolled .vvd {
  color: #121212; 
  background-color: #fff;
}

.scrolled .social-icon a img {
  filter: brightness(0) invert(1);
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
  color: #fff !important;
}

.nav.navbar a.navbar-brand.scrolled {
  color: #fff !important;
}

.navbar-brand {
  margin-bottom: 20px;
}

.navbar-brand h3 {
  align-items: center;
  text-align: center;
}

img.navbar-logo {
  width: auto;
  height: 30px;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  color: #fff;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 2px solid #000000a6;
}

.scrolled .social-icon a {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.social-icon a:not(:last-child) {
  margin-right: 14px;
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.vvd {
  margin-left: 40px;
}

.vvd-text {
  color: #000000a6; 
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #000000a6;
  padding: 16px 34px;
  font-size: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/* Banner */

.banner {
  margin-top: 0;
  padding: 140px 0 100px 0; 
  background-color: gold; 
  /* background-image: url('./assets/img/banner1-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: #121212 solid 2px;   */
}

.logo-img {
  width: 350px;
  height: auto;  
}

.banner-text { 
  color: #000000a6;
  font-size: 24px;
  margin-bottom: 26px;
}

.banner ul {
  list-style: none; 
  text-align: center;
}

.banner li {
  margin-bottom: 20px; 
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  font-weight: 700;  
  color: #000000a6;    
}

.banner li:hover,
.banner li:focus {
  color: #fff;
  cursor: pointer;
}

.banner li:last-child{
  margin-bottom: 0;
}

.banner-icons {   
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.banner-icons:last-child {
  margin-right: 0;
}
 
.banner button {
  color: #000000a6;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button:hover,
.banner button:focus {
  color: #fff;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.adress {
  color: #000000a6;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin-left: 35px;
}

.adress:hover,
.adress:focus {
  color: #fff; 
}

.banner .header-img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

/* Products */

.products {
  padding: 80px 0;
  position: relative;
  background-image: url('./assets/img/black-brick1.jpg');
  border-bottom: #121212 solid 2px;
 }

.products h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center; 
  -webkit-text-stroke: 2px #2c2c2c;
}

.products h3 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.products .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;  
}

.products .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.products .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #ffff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 700;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.products .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: rgb(15, 15, 15);
  background: linear-gradient(0deg, rgba(15, 15, 15, 1) 5%, rgba(163, 161, 147, 1) 91%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.products .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.nav-link#products-tabs-tab-first {
  border: 3px solid #2c2c2c;
  border-radius: 55px 0px 0px 55px;
}

.nav-link#products-tabs-tab-second {
  border-top: 3px solid #2c2c2c;
  border-bottom: 3px solid #2c2c2c;
}

.nav-link#products-tabs-tab-third {
  border: 3px solid #2c2c2c;
  border-radius: 0 55px 55px 0;
}

/* beer */

 .beer-imgbx {
   position: relative;
   border-radius: 30px;
   border: 2px solid #fff;
   overflow: hidden;
   margin-bottom: 24px;
   background: rgb(15, 15, 15);
   background: linear-gradient(0deg, rgba(15, 15, 15, 1) 22%, rgba(163, 161, 147, 1) 100%);
   height: 350px;
 }

 .beer-imgbx::before {
  content: "";
  background: rgb(15, 15, 15);
  background: linear-gradient(0deg, rgba(15, 15, 15, 1) 22%, rgba(163, 161, 147, 1) 100%);
  opacity: 0.97;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;  
}

.beer-imgbx:hover::before {
  height: 100%;
}

.beer-txtx {
  position: absolute; 
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
 }

.beer-imgbx:hover .beer-txtx {
  top: 45%;
  opacity: 1;
}

.beer-txtx h4 {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.7px;
  line-height: 1em;
  color: gold; 
  -webkit-text-stroke: 0.5px #2c2c2c;
} 

 .beer-discr {
   position: relative;
   overflow-y: auto;
   max-height: 250px;
   color: #fff;
   font-weight: 500;
   font-size: 18px;
   letter-spacing: 0.8px;
   text-align: start;
   padding: 0 20px 10px 20px;
   text-indent: 1em;
 }

.beer-imgbx p:not(:last-child) {
  margin-bottom: 8px;
}

/*  Partners  */

.partner-imgbx {
  position: relative;
  border: 2px solid #2c2c2c;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 24px;
}

/* Contact */
.contact { 
  background: gold;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #2c2c2c;
}

.contact img {
  width: 85%;
}

.contact h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #121212;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;  
  margin: 0 0 8px 0;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form textarea {
  height: 120px;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #121212;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: gold;
  background-color: #121212;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 3px;
  position: relative;
  transition: 0.2s ease-in-out;  
}
.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #121212; 
}

.contact form button::before {
  content: "";
  background: #fff;  
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
  border-radius: 3px;
}

.contact form button:hover::before {
  width: 100%;
  border-radius: 3px;
}

/************ Footer Css ************/

.footer {
  padding: 0 0 50px 0;  
  background-image: url('./assets/img/black-brick1.jpg');
}

.text-center {
  padding-top: 40px;
}

.footer-social-icon {
  display: inline-block;
  margin-left: 14px;
}

.footer-social-icon a {
  width: 42px;
  height: 42px; 
  background-color: #fff;
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 2px solid #000000a6;
}

.footer-social-icon a:not(:last-child) {
  margin-right: 14px;
}

.footer-social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #121212;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.footer-social-icon a:hover::before {
  transform: scale(1);
}

.footer-social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;  
}

.footer-social-icon a:hover img {
  filter: brightness(0) invert(1);
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}

.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}

.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

.new-email-bx::before {
  content: "";
  background: rgb(19, 19, 19);  
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}

.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}

.new-email-bx button {
  background: rgb(15, 15, 15);
  background: linear-gradient(0deg, rgba(15, 15, 15, 1) 5%, rgba(163, 161, 147, 1) 91%);
  padding: 20px 11px;
  /* width: 50%; */
  text-align: center;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}



